<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.popo.popomusic">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.popomusic.MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name="com.popomusic.activity.MainActivty"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.popomusic.activity.LocalMusicActivity"></activity>
        <activity android:name="com.popomusic.activity.PlayMusicActivity"></activity>
        <activity android:name="com.popomusic.activity.JKActivity"></activity>
        <activity android:name="com.popomusic.activity.SearchActivity"></activity>
        <service android:name="com.popomusic.musicService.MediaPlayerService"/>
    </application>

</manifest>